<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="contenedor-borde-whats-new margen-vertical">
						<div class="contenedor-whats-new">
							<div class="row">
								<div class="seccion-foto-comentario text-center col-md-3">
									<img class="img-circle seccion-foto" src="assets/img/14.jpg">
								</div>
								<div class="seccion-comentario-foto col-md-9">
								    <input type="text" class="seccion-comentario" placeholder="What's New?" />
								</div>
							</div>
						</div>
						<div class="contenedor-controles">
							<div class="row">
								<div class="seccion-iconos-controles col-md-9">
									<a href="#" class="anchor-controles"><span class="fui-photo iconos-controles"></span></a>
							    	<a href="#" class="anchor-controles"><span class="fui-video iconos-controles"></span></a>
							    	<a href="#" class="anchor-controles"><span class="fui-location iconos-controles"></span></a>
							    	<a href="#" class="anchor-controles"><span class="fui-eye iconos-controles"></span></a>
							    	<a href="#" class="anchor-controles"><span class="fui-clip iconos-controles"></span></a>
							    	<a href="#" class="anchor-controles"><span class="fui-lock iconos-controles"></span></a>
								</div>
								<div class="col-md-3">
								    <button class="btn btn-primary btn-enviar-comentario">Send</button>
								</div>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-perfil margen-vertical">
						<div class="contenedor-foto-perfil">
							<img class="seccion-foto-perfil" src="assets/img/15.jpg">
							<div class="seccion-texto-sobre-foto-perfil">
								<h2 class="texto-sobre-foto-perfil">Hans Posada</h2>
							</div>
						</div>
						<div class="contenedor-controles-secciones">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">42</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">785</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">245</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-noticia margen-vertical">
						<div class="contenedor-info-perfil-noticia">
							<div class="row">
								<div class="seccion-foto-perfil-noticia text-center col-md-3">
									<img class="img-circle foto-perfil-noticia" src="assets/img/1.jpg">
								</div>
								<div class="seccion-nombre-perfil-noticia col-md-6">
								    <span class="nombre-perfil-noticia">PlayGround</span>
								</div>
								<div class="seccion-tiempo-noticia col-md-3">
								    <span class="tiempo-noticia pull-right">1 Sem.</span>
								</div>
							</div>
						</div>
						<div class="contenedor-texto-imagen-noticia">
							<div class="row">
								<div class="seccion-texto-noticia col-md-12">
									<p><a href="#" class="texto-noticia">#Deportes</a> 
										El expresidente de FIFA, Joseph Blatter, ha desatado un escándalo mundial con esta noticia.
										<br><br>Así funciona el 'amaño de sorteos':
										<br><br><a href="#" class="texto-noticia">Http://bit.ly/1UwrhDd</a>
									</p>
								</div>
								<div class="seccion-imagen-noticia col-md-12">
									<img class="imagen-noticia" src="assets/img/11.jpg">
								</div>
								<div class="seccion-texto-fuente-noticia col-md-12">
									<p>canaldostelevision.com</p>
								</div>
							</div>
						</div>
						<div class="contenedor-controles-secciones borde-superior-controles">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">42</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">785</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">245</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-perfil margen-vertical">
						<div class="contenedor-foto-perfil">
							<img class="seccion-foto-perfil" src="assets/img/16.jpg">
							<div class="seccion-texto-sobre-foto-perfil">
								<h2 class="texto-sobre-foto-perfil">Luisa Perez</h2>
							</div>
						</div>
						<div class="contenedor-controles-secciones">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">10</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">1000</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">356</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="contenedor-borde-sign-in margen-vertical">
						<div class="text-center seccion-titulo-sign-in">
							<h1><b>Sign in</b></h1>
						</div>
						<div class="seccion-formulario-sign-in">
							<div class="row">
								<form>
									<div class="form-group col-md-10 col-md-offset-1">
									    <input type="text" class="form-control" placeholder="Email or phone" />
									</div>
									<div class="form-group col-md-10 col-md-offset-1">
									    <input type="text" class="form-control" placeholder="Password" />
									</div>
									<div class="checkbox col-md-5 checkbox-sign-in col-md-offset-1">
						  				<label><input type="checkbox" value="">Remember me</label>
									</div>
									<div class="form-group col-md-5">
						  				<a type="text" href="#">Forgot password?</a>
									</div>
									<div class="seccion-btn-sign-in col-md-12 text-center">
										<button class="btn btn-primary btn-sign-in">Sign in</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-perfil margen-vertical">
						<div class="contenedor-foto-perfil">
							<img class="seccion-foto-perfil" src="assets/img/7.jpg">
							<div class="seccion-texto-sobre-foto-perfil">
								<h2 class="texto-sobre-foto-perfil">Felipe Mesa</h2>
							</div>
						</div>
						<div class="contenedor-controles-secciones">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">25</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">302</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">487</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-noticia margen-vertical">
						<div class="contenedor-info-perfil-noticia">
							<div class="row">
								<div class="seccion-foto-perfil-noticia text-center col-md-3">
									<img class="img-circle foto-perfil-noticia" src="assets/img/1.jpg">
								</div>
								<div class="seccion-nombre-perfil-noticia col-md-6">
								    <span class="nombre-perfil-noticia">PlayGround</span>
								</div>
								<div class="seccion-tiempo-noticia col-md-3">
								    <span class="tiempo-noticia pull-right">1 Sem.</span>
								</div>
							</div>
						</div>
						<div class="contenedor-texto-imagen-sin-noticia">
							<div class="row">
								<div class="seccion-texto-sin-noticia col-md-12">
									<p><a href="#" class="texto-noticia">#Deportes</a> 
										El expresidente de FIFA, Joseph Blatter, ha desatado un escándalo mundial con esta noticia.
										<br><br>Así funciona el 'amaño de sorteos':
										<br><br><a href="#" class="texto-noticia">Http://bit.ly/1UwrhDd</a>
									</p>
								</div>
							</div>
						</div>
						<div class="contenedor-controles-secciones-sin-noticia borde-superior-controles">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">42</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">785</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">245</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-noticia margen-vertical">
						<div class="contenedor-info-perfil-noticia">
							<div class="row">
								<div class="seccion-foto-perfil-noticia text-center col-md-3">
									<img class="img-circle foto-perfil-noticia" src="assets/img/1.jpg">
								</div>
								<div class="seccion-nombre-perfil-noticia col-md-6">
								    <span class="nombre-perfil-noticia">PlayGround</span>
								</div>
								<div class="seccion-tiempo-noticia col-md-3">
								    <span class="tiempo-noticia pull-right">1 Sem.</span>
								</div>
							</div>
						</div>
						<div class="contenedor-texto-imagen-sin-noticia">
							<div class="row">
								<div class="seccion-texto-sin-noticia col-md-12">
									<p>Beautiful place for dream</p>
								</div>
								<div class="seccion-imagen-noticia col-md-12">
									<img class="imagen-noticia" src="assets/img/3.jpg">
								</div>
							</div>
						</div>
						<div class="contenedor-controles-secciones-sin-noticia">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">42</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">785</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">245</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="contenedor-borde-sign-up margen-vertical">
						<div class="text-center seccion-titulo-sign-up">
							<h1><b>Sign up!</b></h1>
						</div>
						<div class="seccion-texto-sign-up form-group col-md-10 text-center col-md-offset-1">
							<p>Register to connect, see photos and videos of your closed friends circle!</p>
						</div>
						<div class="seccion-formulario-sign-in">
							<div class="row">
								<form>
									<div class="form-group col-md-10 col-md-offset-1">
									    <input type="text" class="form-control" placeholder="Email or phone" />
									</div>
									<div class="form-group col-md-10 col-md-offset-1">
									    <input type="text" class="form-control" placeholder="Full name" />
									</div>
									<div class="form-group col-md-10 col-md-offset-1">
									    <input type="text" class="form-control" placeholder="Username" />
									</div>
									<div class="form-group col-md-10 col-md-offset-1">
									    <input type="text" class="form-control" placeholder="Password" />
									</div>
									<div class="col-md-10 col-md-offset-1 text-center">
										<button class="btn brn-default btn-block btn-sign-up">Sign in</button>
									</div>
									<div class="seccion-texto-sign-up borde-texto-sign-up col-md-10 text-center col-md-offset-1">
										<p>By signing up, you agree to our
											<br><br><a href="#">Terms and Privacy policy</a></p>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-noticia margen-vertical">
						<div class="contenedor-info-perfil-noticia">
							<div class="row">
								<div class="seccion-foto-perfil-noticia text-center col-md-3">
									<img class="img-circle foto-perfil-noticia" src="assets/img/1.jpg">
								</div>
								<div class="seccion-nombre-perfil-noticia col-md-6">
								    <span class="nombre-perfil-noticia">PlayGround</span>
								</div>
								<div class="seccion-tiempo-noticia col-md-3">
								    <span class="tiempo-noticia pull-right">1 Sem.</span>
								</div>
							</div>
						</div>
						<div class="contenedor-texto-imagen-sin-noticia">
							<div class="row">
								<div class="seccion-texto-sin-noticia col-md-12">
									<p>Urgente</p>
								</div>
								<div class="seccion-imagen-noticia col-md-12">
									<img class="imagen-noticia" src="assets/img/12.jpg">
								</div>
							</div>
						</div>
						<div class="contenedor-controles-secciones-sin-noticia">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">9999</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">9999</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">9999</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>

					<div class="contenedor-borde-perfil margen-vertical">
						<div class="contenedor-foto-perfil">
							<img class="seccion-foto-perfil" src="assets/img/6.jpg">
							<div class="seccion-texto-sobre-foto-perfil">
								<h2 class="texto-sobre-foto-perfil">Juan Martínez</h2>
							</div>
						</div>
						<div class="contenedor-controles-secciones">
							<div class="row">
								<div class="seccion-iconos-controles-secciones text-center col-md-12">
									<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">18</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">105</b></a>
							    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">236</b></a>
							    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>