<div class="container">
			<div class="row">
				<div class="col-md-3">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/1.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/5.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/9.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/13.jpg" ng-click="mostrarFoto(true)">
				</div>
				<div class="col-md-3">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/2.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/6.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/10.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/14.jpg" ng-click="mostrarFoto(true)">
				</div>
				<div class="col-md-3">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/3.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/7.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/11.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/15.jpg" ng-click="mostrarFoto(true)">
				</div>
				<div class="col-md-3">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/4.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/8.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/12.jpg" ng-click="mostrarFoto(true)">
					<img class="img-responsive img-galeria margen-vertical" src="assets/img/16.jpg" ng-click="mostrarFoto(true)">
				</div>
			<div>
		</div>

		<div class="container pantalla-imagen-comentarios" ng-show="comentarios" ng-click="mostrarFoto(false)">
			<div class="contenenedor-imagen-comentarios">
				<div class="row">
					<div class="col-md-4 col-md-offset-2">
						<div class="contenedor-borde-perfil">
							<div class="contenedor-foto-perfil">
								<img class="seccion-foto-perfil" src="assets/img/4.jpg">
							</div>
							<div class="contenedor-controles-secciones">
								<div class="row">
									<div class="seccion-iconos-controles-secciones text-center col-md-12">
										<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;42</b></a>
								    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;785</b></a>
								    	<a href="#" class="texto-controles-secciones"><span class="glyphicon glyphicon glyphicon-share-alt iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;245</b></a>
								    	<a href="#" class="texto-controles-secciones texto-controles-secciones-no-margen"><span class="glyphicon glyphicon glyphicon-bookmark iconos-controles-secciones"></span>&nbsp;&nbsp;&nbsp;</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sin-borde-izquierdo">
						<div class="contenedor-borde-comentarios">
							<div class="contenedor-un-comentario">
								<div class="contenedor-info-perfil-comentario">
									<div class="row">
										<div class="seccion-foto-perfil-comentario text-center col-md-3">
											<img class="img-circle foto-perfil-comentario" src="assets/img/16.jpg">
										</div>
										<div class="seccion-nombre-perfil-comentario col-md-6">
										    <span class="nombre-perfil-comentario">Andrea Avendaño</span>
										    <br><br>
										    <span class="texto-perfil-comentario">Feliciades Juán, muchos éxitos!</span>
										</div>
										<div class="seccion-tiempo-comentario col-md-3">
										    <span class="tiempo-comentario pull-right">1 Sem.</span>
										</div>
									</div>
								</div>
								<div class="contenedor-controles-secciones-comentario">
									<div class="row">
										<div class="seccion-iconos-controles-secciones col-md-12">
											<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;42</b></a>
									    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;785</b></a>
										</div>
									</div>
								</div>
							</div>

							<div class="contenedor-un-comentario">
								<div class="contenedor-info-perfil-comentario">
									<div class="row">
										<div class="seccion-foto-perfil-comentario text-center col-md-3">
											<img class="img-circle foto-perfil-comentario" src="assets/img/14.jpg">
										</div>
										<div class="seccion-nombre-perfil-comentario col-md-6">
										    <span class="nombre-perfil-comentario">Hans Posada Jaramillo</span>
										    <br><br>
										    <span class="texto-perfil-comentario">Que bueno, disfruta el viaje, excelente foto!</span>
										</div>
										<div class="seccion-tiempo-comentario col-md-3">
										    <span class="tiempo-comentario pull-right">1 Sem.</span>
										</div>
									</div>
								</div>
								<div class="contenedor-controles-secciones-comentario">
									<div class="row">
										<div class="seccion-iconos-controles-secciones col-md-12">
											<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;42</b></a>
									    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;785</b></a>
										</div>
									</div>
								</div>
							</div>

							<div class="contenedor-un-comentario">
								<div class="contenedor-info-perfil-comentario">
									<div class="row">
										<div class="seccion-foto-perfil-comentario text-center col-md-3">
											<img class="img-circle foto-perfil-comentario" src="assets/img/6.jpg">
										</div>
										<div class="seccion-nombre-perfil-comentario col-md-6">
										    <span class="nombre-perfil-comentario">Juan Martínez</span>
										    <br><br>
										    <span class="texto-perfil-comentario">Gracias muchachos.<br>
										    	Espero regresar no muy pronto. <br>
										    	Todo está muy bien. <br>
										    	:D
										    </span>
										</div>
										<div class="seccion-tiempo-comentario col-md-3">
										    <span class="tiempo-comentario pull-right">1 Sem.</span>
										</div>
									</div>
								</div>
								<div class="contenedor-controles-secciones-comentario">
									<div class="row">
										<div class="seccion-iconos-controles-secciones col-md-12">
											<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;42</b></a>
									    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;785</b></a>
										</div>
									</div>
								</div>
							</div>

							<div class="contenedor-un-comentario">
								<div class="contenedor-info-perfil-comentario">
									<div class="row">
										<div class="seccion-foto-perfil-comentario text-center col-md-3">
											<img class="img-circle foto-perfil-comentario" src="assets/img/16.jpg">
										</div>
										<div class="seccion-nombre-perfil-comentario col-md-6">
										    <span class="nombre-perfil-comentario">Hans Posada Jaramillo</span>
										    <br><br>
										    <span class="texto-perfil-comentario">Invite!</span>
										</div>
										<div class="seccion-tiempo-comentario col-md-3">
										    <span class="tiempo-comentario pull-right">1 Sem.</span>
										</div>
									</div>
								</div>
								<div class="contenedor-controles-secciones-comentario">
									<div class="row">
										<div class="seccion-iconos-controles-secciones col-md-12">
											<a href="#" class="texto-controles-secciones"><span class="fui-heart iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;42</b></a>
									    	<a href="#" class="texto-controles-secciones"><span class="fui-chat iconos-controles-secciones"></span><b class="texto-bold-controles-secciones">&nbsp;785</b></a>
										</div>
									</div>
								</div>
							</div>

							<div class="text-center contenedor-show-more">
								<a href="#" class="texto-show-more"><b>SHOW MORE</b></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	